* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
    background-color: aqua;
}

#container {
  margn: 0 auo;
  
  
  
  padding-top: 30px;
  border-rdius: 20px;
  
  
}

#title {
  text-align: center;
  color: blue;
  margin-bottom: 25px ;
}

#editor-box {
  dispay: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
  color: white;
  width: 35%;
  heiht: 200px;
  
  
}

.header {
  display: flex;
  justify-content: space-between;
}

#editor {
  width: 100%;
  /* height: 54rem; */
  height: 10rem;
  overflow: visible;
  
}

#preview-box {
  margin: 0 auto;
  justfy-content: center;
  background-color: green;
  color: white;
  fontsize: 1vw;
  width:80%;
  padding: 5px 0px 5px 12px;
  padding-rigt: 10px;
  overflow: hiden;
}
#preview{
  font-size: 2vw;
  word-wrap: break-word;
  word-break: keep-all;
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  #container {
      width: 100%
      
  }
  #editor-box {
    width: 60%;
    heigt:100px ;

  }
  #editor{
    height: 120px;
  }
  
  #preview {
    width: 96%;
    font-size: 2.8vw;
  }

  #prevew {
    width: 100%;
    padding-right: 4px;
    padding-left: 6px;
  }


}

